.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
}

.container {
  margin: auto;
  padding: 0.2vw;
  text-align: center;
}

.title {
  font-size: 10vw;
  color: #FFFFFF;
}

.regular {
 font-size: 5vw;
 color: #FFFFFF;
}

.button {
  background-color: #0000FF; /* Green */
  color: #FFFFFF;
  border: none;
  padding: 1.5vw 3.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
}

.input {
  width: 15vw;
  height: 5vw;
  text-align: center;
  border: 0;
  background: #FFFFFF;
  color: #000;
  font-size: 1.4vw;
}

.stepper {
  border: 0.1vw solid #eee;
  display: inline-block;
  overflow: visible;
  height: 3vw;
  background: #fff;
  padding: 1px;
}

.stepper input {
  width: 5vw;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #000;
  font-size: 1.4vw;
}

.stepper button {
  width: 1.4vw;
  font-weight: 300;
  height: 100%;
  line-height: 0.1vw;
  font-size: 1.4vw;
  padding: 0.2vw;
  background: #eee;
  color: #333;
  border: none;
}