.fullscreen {
  display: flex;
  height: 100%;
  padding: 0;
  width: 100%;
  background-color: #000000;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  margin: auto;
  padding: 0.2vw;
  text-align: center;
}

.title {
  font-size: 5vw;
  color: #FFFFFF;
}

.regular {
 font-size: 4vw;
 color: #FFFFFF;
}

.regular_left {
 font-size: 4vw;
 color: #FFFFFF;
 text-align: left;
}

.button {
  background-color: #0000FF; /* Green */
  color: #FFFFFF;
  border: none;
  padding: 1.5vw 3.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vw;
}

.input {
  width: 30vw;
  height: 4vw;
  text-align: center;
  border: 0;
  background: #FFFFFF;
  color: #000;
  font-size: 2.4vw;
  border: 0.5vw solid #000000;
}

.stepper {
  border: 0.5vw solid #000000;
  display: inline-block;
  overflow: visible;
  height: 5vw;
  background: #fff;
  padding: 0;
}

.stepper input {
  width: 5vw;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #000;
  font-size: 2.5vw;
}

.stepper button {
  width: 5vw;
  font-weight: 300;
  height: 100%;
  line-height: 0.1vw;
  font-size: 2.5vw;
  padding: 0;
  background: #eee;
  color: #333;
  border: none;
}